@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}

:root{
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body{
    color: var(--primary-text-color);
    font-family: 'poppins', sans-serif;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-size: 1.25rem;
    font-family: 'Roboto',sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    color: white !important;
    font-weight: 700;
    padding: 11px 25px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-in-out;
    text-align: center;
}

.primary-button:hover{
    background-color: var(--accent-color-dark);
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    padding: 11px 25px;
    transition: 0.2s ease-in-out;
    color: var(--primary-text-color) !important;
}

.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;

}

.hover-link{
    color: var(--primary-text-color);
}

.hover-link:hover{
    color: var(--accent-color);
    transition: all ease-in-out 0.5s;
}

.flex{
    display: flex;
    align-items: center;
}

.small-bold-text{
    font-weight: 700;
    font-size: 1rem;
}

.container{
    max-width: 85vw;
    margin: auto;
    padding-inline:var(--padding-inline-section) ;
    overflow: hidden;
}

.top-banner{
    background-color: #4fb3d4;
}

.banner{
    color: white;
    padding: 15px 30px;
    text-align: center;
}

.main-nav{
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
}

.logo img{
    width: 200px;
}

.links{
    flex-basis: 730px;
}

.links ul{
    justify-content: flex end;
    gap: 40px;
}

.nav-toggle{
    display: none;
}

header{
    padding: 50px var(--padding-inline-section) 0;
}

.header-left{
    width: 40vw;
}

.get-started-button{
    margin-top: 20px;
}

.header-left p{
    margin-top: 14px;
}

.hero-section{
   justify-content: center;
    gap: 50px;
}

.header-right img{
    width: 100%;
}

.companies-section{
    padding: 50px var(--padding-inline-section) 0;
}

.company-header{
    text-align: center;
}

.company-logo{
    margin-top: 30px;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.logo{
    height: 46px;
}

.feature-section{
    padding: 80px var(--padding-inline-section) 0;
    background: url(resources/featureBack.svg);
   background-repeat: no-repeat;
   background-position: center;
}

.feature-head{
    text-align: center;
}

.feature-head h2{
    margin-bottom: 20px;
}

.feature-area{
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.feature-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}

.feature-card img{
    width: 60px;
}

.big-feature-section{
    padding: 40px var(--padding-inline-section) 0;
}

.big-feature-container{
    gap: 30px;
}

.big-feature-img img{
    width: 100%;
}

.big-feature-para{
    flex-direction: column;
   align-items: flex-start;
}

.big-feature-para img{
    width: 30%;
}

.example-section{
    padding: 40px var(--padding-inline-section) 0;
}

.example-head{
    text-align: center;
    margin-bottom: 30px;
}

.example-head h2{
    margin-bottom: 20px;
}

.example-area{
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-card{
    width: 22%;
    position: relative;
    height: 300px;
    background-color: black;
    border-radius: 8px;
    transition: 0.2s ease-out;
}

.example-card:hover{
    box-shadow: 0 0 10px #888;
}

.card1{
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(resources/foot1.jpg);
    background-size: cover;
    background-position: right;
}

.card2{
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(resources/foot2.jpg);
    background-size: cover;
    background-position: center;
}

.card3{
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(resources/foot3.jpg);
    background-size: cover;
    background-position: center;
}

.card4{
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(resources/foot4.jpg);
    background-size: cover;
    background-position: left;
}


.card-txt{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
    font-size: large;
}

.cta-container{
    flex-direction: column;
    gap: 30px;
    color: white;
}

.cta-container p{
    color: white;
}

.cta-section{
    margin-top: 40px;
    background-color: #183b54;
    padding: 120px var(--padding-inline-section) 80px;
    text-align: center;
}

footer{
    padding-block: 80px ;
    background-color: #ebf2fa;
}

.footer-container{
   justify-content: space-between;
}

.foot-links{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.sub-footer{
    padding: 20px 0 20px;
    background-color: #b9cde4;
}

.sub-footer-content{
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


